.app {
  background-color: hsl(231, 100%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  height: 100%;
}

.button-wrapper-end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin-top: 4.5rem;
  margin-right: -1.5rem;
}

.button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  margin-top: 2rem;
  /* margin-right: -0.5rem; */
}

.button-primary {
  color: white;
  background-color: hsl(213, 96%, 18%) ;
  border:none;
  height: 45px;
  min-width: 120px;
  border-radius: 5px;
  font-size: 15px;
}

.button-primary:hover {
  cursor: pointer;
}

.button-primary:disabled {
  color: white;
  background-color: hsl(213, 96%, 18%) ;
  border:none;
  height: 45px;
  min-width: 120px;
  border-radius: 5px;
  opacity: 80%;
  font-size: 16.5px;
}

.button-primary:active {
  color: white;
  background-color: hsl(213, 96%, 18%) ;
  border:none;
  height: 45px;
  min-width: 120px;
  border-radius: 5px;
  font-size: 16.5px;
}

.button-secondary{
  color: hsl(231, 11%, 63%);
  background-color: white;
  border:none;
  font-family: 'ubuntu-medium';
  font-size: 16.5px;
}

.button-secondary:hover{
  color: hsl(213, 96%, 18%) ;
  background-color: white;
  border:none;
  font-family: 'ubuntu-medium';
  cursor: pointer;
  font-size: 16.5px;
}

.card {
  margin: 5rem auto;
  width: 1000px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.card-container {
 display: flex;
 flex-direction: column;
 align-content: center;
 padding: 1.5rem 0;
 width: 75%;
 padding-right: 2rem;
}

.card-content {
  height: 100%;
}

.card-style {
  display: flex;
  flex-direction: row;
  padding: 1rem;;
}

.card-title {
  color:hsl(213, 96%, 18%);
  font-family: 'ubuntu-medium';

}

.card-subtitle {
  color:hsl(231, 11%, 63%);
  margin-top:0;
  margin-bottom: 2rem;;
}

.checkbox-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.checkbox-label-title {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: space-between;
}

.checkbox-label-title .label-info {
  color:hsl(231, 11%, 63%);
  font-size: 14px;;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  line-height: 24px;
  border-radius: 10px;
  width:80%;
  border: 1px solid hsl(229, 24%, 87%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 4rem;
}

.checkbox-label:hover {
  border: 1px solid hsl(243, 100%, 62%);
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  position: absolute;
  left: 2rem;
  width: 18px;
  height: 18px;
  margin: 3px;
  margin-left: 5px;
  border: 1px hsl(229, 24%, 87%) solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.checkbox-input {
  margin-top: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-input:hover {
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-label{
  border-color:hsl(243, 100%, 62%);
  background-color: hsl(243, 100%, 62%, 0.05);
}

.checkbox-input:checked ~ .checkbox-label:before {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
  background-color: hsl(243, 100%, 62%);
  border-color:hsl(243, 100%, 62%);
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
}

.checkbox-input:disabled ~ .checkbox-label {
  color: rgba(0, 0, 0, 0.38);
}

.checkbox-input:disabled ~ .checkbox-label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

.checkbox-input:checked:disabled ~ .checkbox-label:before {
  background-color: rgba(0, 0, 0, 0.26);
  background-clip: padding-box;
}

.checkbox-input ~ .checkbox-label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.checkbox-input:checked ~ .checkbox-label:after {
  background-color: hsl(243, 100%, 62%);
}

.checkbox-input:not(:checked) ~ .checkbox-label:after {
  background-color: #000;
}

.header {
  width: 100vw;
  font-family: 'ubuntu-bold';
  text-align: center;
  border-bottom: 1px solid hsl(231, 11%, 63%);
}

hr{
  width: 100%;
  margin-top: 1.5rem;
  color : hsl(231, 11%, 63%)

}

.footer {
  padding: 2rem;
  width: 100%;
  border-top: 1px solid hsl(231, 11%, 63%);
  text-align: center;
  
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  width: 80%;
  height: 78%;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-text-input-error {
  text-align: right;
  color: hsl(354, 84%, 57%);
  font-size: 14px;
}

.form .text-input {
  width:100%;
  height: 28px;
  margin: 0.5rem 0 2rem 0;
  padding: 0.5rem 0.75rem;
  border: 0.5px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  color: hsl(213, 96%, 18%);
  font-family: 'ubuntu-medium';
  font-size: 16px;
}

.form .text-input:focus-visible {
  border: 0.5px solid  hsl(243, 100%, 62%);
  outline-style:solid;
  outline-color: hsl(243, 100%, 62%);
}

.form .text-input:hover {
  border: 1px solid  hsl(243, 100%, 62%)
}

.form .text-input:active {
  border: 1px solid  hsl(243, 100%, 62%);
}

.form .text-input-error{
  width:100%;
  height: 32px;
  margin: 0.5rem 0 2rem 0;
  padding: 0.5rem 0.75rem;
  border: 0.5px solid hsl(354, 84%, 57%);
  border-radius: 5px;
}

.form .text-input-error:focus-visible {
  border: 0.5px solid hsl(354, 84%, 57%) ;
  outline: none;
}

.form .text-input-label {
  color:hsl(213, 96%, 18%);
  text-align: left;
  font-weight: 500;
}

.main-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progress-indicator {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.progress-indicator-label {
  text-transform: uppercase;
  margin: 0.5rem;
}

.progress-indicator-label-step {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.progress-indicator-label-step-name {
  color: white;
  font-size: 14px;
  font-family: 'ubuntu-medium';
}

.progress-indicator-icon {
 margin: 0.5rem;
}

.progress-indicator-icon-style-selected{
  background-color: hsl(213, 96%, 18%);
  border-radius: 100px;
}

.progress-indicator-step{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.radio-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 0.5rem;
}

.radio-container {
  width: 100%;
  text-align: left;
}

.radio-input {
  display:none
}

.radio-option-card { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:0 1rem 1rem 0.5rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
}


.radio-option-card:hover{
  border: 1px solid hsl(243, 100%, 62%);
  border-radius: 5px;
  cursor: pointer;
}

.radio-input:checked + .radio-option-card{
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(228, 100%, 84%, 0.25);
  border-radius: 5px;
}

.radio-option-card-header {
  padding: 1rem 5rem 1rem 1rem;
}

.radio-option-card-label {
  padding: 2rem 1.5rem 1rem 1rem;
}


.sidebar-bg {
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-size:contain;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 568px;
  width: 45%;
  border-radius: 10px;

}

.switch-container {
  border-radius: 10px;
  width:100%;
  background-color:hsl(228, 100%, 84%, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  font-family: 'ubuntu-medium';
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  margin: 1rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-label {
  color: hsl(231, 11%, 63%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.summary-button {
  background-color: hsl(243, 100%, 62%);
}

body:has(#summary-link-plan:hover) #summary-btn{
  opacity: 0.5;
}

.summary-content {
  display: flex;
  flex-direction: column;
}

.summary-details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: hsl(231, 100%, 99%);
}

.summary-line-amount{
  margin-top: 1.5rem;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
  font-family: 'ubuntu-medium';
}

.summary-line-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.summary-line-info {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  margin-top: 1.5rem;
}

.summary-line-plan {
  font-family: 'ubuntu-bold';
  color: hsl(213, 96%, 18%);
}

.summary-line-plan-link {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  text-decoration: underline;
}

.summary-line-plan-link:hover {
  color: hsl(243, 100%, 62%);
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.summary-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.summary-total-amount {
  color: hsl(243, 100%, 62%);
  font-family: 'ubuntu-bold';
  font-size: 20px;
}

.summary-thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}