@font-face {
  font-family: ubuntu-bold;
  src: url('../src/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: ubuntu-medium;
  src: url('../src/assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: ubuntu-regular;
  src: url('../src/assets/fonts/Ubuntu-Regular.ttf');
}


body {
  margin: 0;
  font-family:'ubuntu-regular';
  font-size: 14px;
}

@media screen and (min-width: 510px) {
  body {
    margin: 0;
    font-family:'ubuntu-regular';
    font-size: 16px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh
}
